.register {
  height: 100%;
  width: 100%;
  position: relative; }
  .register .title {
    background-image: url("../img/benefits.jpg");
    background-position: 50% 40%;
    height: 30%; }
  .register .content {
    font-family: 'openSans-light', Helvetica;
    height: 100%;
    position: relative;
    padding: 0px; }
    .register .content .gallery {
      height: 100%;
      width: 100%; }
    .register .content .gallery-cell {
      width: 100%;
      /* full width */
      height: 100%;
      /* height of gallery */
      position: relative;
      padding: 3em; }
      .register .content .gallery-cell.slide1 {
        background-image: url("../img/card-back.png");
        background-size: cover;
        background-position: 50% 10%; }
      .register .content .gallery-cell.slide2 {
        background-image: url("../img/luggage.png");
        background-size: cover;
        background-position: 50% 10%; }
    .register .content .flickity-prev-next-button {
      display: none; }
    .register .content .flickity-page-dots {
      display: none; }
    .register .content .card {
      background-color: #333333;
      padding: 2em;
      border-radius: 10px;
      margin-bottom: 1em;
      height: 100%; }
      .register .content .card h2 {
        color: #fff;
        text-align: right; }
      .register .content .card form {
        text-align: center; }
      .register .content .card label {
        display: block;
        letter-spacing: 4px;
        padding-top: 30px;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em; }
        .register .content .card label .label-text {
          color: #9B9B9B;
          cursor: text;
          font-size: 20px;
          line-height: 20px;
          text-transform: uppercase;
          -moz-transform: translateY(-34px);
          -ms-transform: translateY(-34px);
          -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
          transition: all 0.3s; }
        .register .content .card label input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid #4A4A4A;
          color: white;
          font-size: 2em;
          letter-spacing: -1px;
          outline: 0;
          padding: 5px 20px;
          text-align: center;
          transition: all 0.3s;
          width: 200px; }
          .register .content .card label input:focus {
            max-width: 100%;
            width: 400px; }
            .register .content .card label input:focus + .label-text {
              color: #F0F0F0;
              font-size: 13px;
              -moz-transform: translateY(-74px);
              -ms-transform: translateY(-74px);
              -webkit-transform: translateY(-74px);
              transform: translateY(-74px); }
          .register .content .card label input:valid + .label-text {
            font-size: 13px;
            -moz-transform: translateY(-74px);
            -ms-transform: translateY(-74px);
            -webkit-transform: translateY(-74px);
            transform: translateY(-74px); }
      .register .content .card button {
        background-color: #333333;
        border: 2px solid white;
        border-radius: 27px;
        color: white;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        padding: 15px 30px;
        text-transform: uppercase;
        transition: all 200ms;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        .register .content .card button:hover, .register .content .card button:focus {
          background-color: white;
          color: #333333;
          outline: 0; }
    .register .content .luggage {
      background-color: #333333;
      padding: 2em;
      border-radius: 10px;
      margin-bottom: 1em;
      height: 100%; }
      .register .content .luggage h2 {
        color: #fff;
        text-align: right; }
      .register .content .luggage form {
        text-align: center; }
      .register .content .luggage label {
        display: block;
        letter-spacing: 4px;
        padding-top: 30px;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em; }
        .register .content .luggage label .label-text {
          color: #9B9B9B;
          cursor: text;
          font-size: 20px;
          line-height: 20px;
          text-transform: uppercase;
          -moz-transform: translateY(-34px);
          -ms-transform: translateY(-34px);
          -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
          transition: all 0.3s; }
        .register .content .luggage label input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid #4A4A4A;
          color: white;
          font-size: 2em;
          letter-spacing: -1px;
          outline: 0;
          padding: 5px 20px;
          text-align: center;
          transition: all 0.3s;
          width: 200px; }
          .register .content .luggage label input:focus {
            max-width: 100%;
            width: 400px; }
            .register .content .luggage label input:focus + .label-text {
              color: #F0F0F0;
              font-size: 13px;
              -moz-transform: translateY(-74px);
              -ms-transform: translateY(-74px);
              -webkit-transform: translateY(-74px);
              transform: translateY(-74px); }
          .register .content .luggage label input:valid + .label-text {
            font-size: 13px;
            -moz-transform: translateY(-74px);
            -ms-transform: translateY(-74px);
            -webkit-transform: translateY(-74px);
            transform: translateY(-74px); }
      .register .content .luggage button {
        background-color: #333333;
        border: 2px solid white;
        border-radius: 27px;
        color: white;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        padding: 15px 30px;
        text-transform: uppercase;
        transition: all 200ms;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        .register .content .luggage button:hover, .register .content .luggage button:focus {
          background-color: white;
          color: #333333;
          outline: 0; }

/*# sourceMappingURL=register.css.map */
