.landing {
	background-image: url("../img/landing.jpg");
	//background-position: 50% 20%;
	background-size: cover;
	height: 150%;
	width: 100%;
	position: relative;
    //background-attachment: fixed;

	&__tagline{

		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translateY(-70%) translateX(-50%);
		-o-transform: translateY(-70%) translateX(-50%);
		-ms-transform: translateY(-70%) translateX(-50%);
		-webkit-transform: translateY(-70%) translateX(-50%);
		transform: translateY(-70%) translateX(-50%);
		//width: 100%;
		color: #fff;

	}
	&__earn{
		position: absolute;
		bottom: 5%;
		left: 0px;
		color: #fff;


	}

}

.partners {

    .content{
        &__icons{
            max-width: 200px;
            margin-top: 1em;
        }
        h2, p {
            color: #dd0042;
        }
        h2{
            font-family: openSans-bold, sans-serif;

        }
    }
}

.benefits {

    .title {
        background-image: url("../img/benefits.jpg");
        background-position: 50% 0%;
        background-size: cover;
        background-attachment: fixed;

    }

    .content {
        h1{
            font-size: 5em;
            color: #dd0042;
        }

        &__icons{
            max-width: 280px;
        }
    }



}

.rewards {
    .title {
        background-image: url("../img/rewards.jpg");
        background-position: 70% 90%;
        background-size: cover;
    }



    .content {
        background-image: url("../img/rewards-back.png");
        background-size: cover;
        background-position: 100% 80%;
        &__icons {
            max-width: 200px;
        }
        h2, p {
            color: #dd0042;
        }
        h2 {
            font-family: openSans-bold;
        }
    }
}

