/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .title__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .title__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }



    .rewards, .benefits, {
        height: 100%;
        width: 100%;

        .title {
            height: 60%;
        }

        .content {
            height: 40%;
        }
    }

    .register {
        height: 100%;
        width: 100%;
    }

    .benefits {
        .content {
            padding-bottom: 2em;
        }
    }

    .partners{
        .content__icons {
            max-width: 100%;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .nav {
        .button{
            margin-top: 10px;
            &:hover{
            }
        }
    }


}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .nav {
        .button{
            
                font-size: 10px;
            
        }
    }

    .benefits{
        p{
            margin-bottom: 1em;
            margin-top: 2em;
        }
        .content{
            h1{
                font-size: 2em;
                color: #dd0042;
                margin: 2em;
            }
        }

    }
    
    .partners{
        .content__icons {
            max-width: 150px;
        }
    }
    
    .register {
        .form-horizontal{
            //background-image: url('../img/stamp.jpg');
        }
    }
    
}

@media only screen and (max-width : 767px) {
    .benefits{
        .content__icons {
            max-width: 100%;
        }
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .benefits{
        p{
            margin-bottom: 1em;
            margin-top: 2em;
        }
        .content{
            h1{
                font-size: 2em;
                color: #dd0042;
                margin: 2em;
            }
        }

    }

    .benefits{
        .content__icons {
            max-width: 100%;
        }
    }
    

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .rewards, .benefits, {


        .title {
            height: 300px;
        }

        .content {
            height: 300px;
        }
    }

    .benefits{
        .content__icons {
            max-width: 150px;
        }
        .content {
            height: 500px;
        }
    }




}
