.register {
    height: 100%;
    width: 100%;

    .button {
        padding: 10px 0;
        margin: 2em 0;
    }

    .title {
        background-image: url("../img/benefits.jpg");
        background-position: 50% 40%;
        height: 20%;

    }

    .content {
        height: 80%;
        position: relative;
        padding: 0px;

        .gallery {
            height: 100%;
            width: 100%;
        }

        .gallery-cell {
            width: 100%; /* full width */
            height: 100%; /* height of gallery */
            position: relative;
            padding: 3em;

            &.slide1{
                background-image: url('../img/card-back.png');
                background-size: cover;
                background-position: 50% 10%;
            }
            &.slide2{
                background-image: url('../img/luggage.png');
                background-size: cover;
                background-position: 50% 10%;
                //position: relative;
            }

            &.slide3{
                background-image: url('../img/plane.png');
                background-size: cover;
                background-position: 50% 10%;
                position: relative;


            }
            &.slide4{
                background-image: url('../img/beach.png');
                background-size: cover;
                background-position: 50% 10%;
                position: relative;

            }
        }

        .registerNav {
            display: block;
            margin: 0 auto;

            &:hover, &:active {
                text-decoration: none;
                color: #fff;
                border-color: #fff;
                background: transparent;
            }
        }

        .flickity-prev-next-button {
            display: none;
        }

        .flickity-page-dots {
            display: none;
        }

        .card {
            background-color: #333333;
            padding: 3em;
            border-radius: 10px;
            margin-bottom: 2em;
            min-height: 450px;

            height: 100%;

            div.cs-skin-border {
                background: transparent;
                color: #696969;
                height: 0;
            }
            .cs-skin-border > span {
                border: none;
                border-bottom: 2px solid #fff;
                padding: 0.66em;
            }

            h2 {
                color: #fff;
                text-align: right;
            }

            &__header {
                margin-bottom: 4em;
            }

            .row {
                margin-top: 10px;
                margin-top: 10px;
            }

        }

        .luggage {
            padding: 2em;
            border-radius: 10px;
            margin-bottom: 1em;
            height: 100%;
            min-height: 450px;

            form{


                .input__label--ruri::after {
                    background: #666;
                }
            }



            .triangle {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border-top: 200px solid transparent;
                border-bottom: 250px solid transparent;
                border-right: 200px solid #e6e6e6;
                margin-top: 2em;
                border-radius: 20px;
            }

            form{
                background-color: #e6e6e6;
                min-height: 450px;
                margin-left: 11.6em;
                border-radius: 20px;
                padding-left: 3em;
                padding-right: 3em;

                .input__field--ruri {
                    color: #666;
                }

                .input--filled .input__label--ruri .input__label-content--ruri {
                    color: #666;
                }

                .row {
                    //margin-top: 1em;
                }
            }

            h2 {
                color: #dd0042;
                font-family: "openSans-bold", sans-serif;
                padding: 0.5em;
                //text-align: right;
            }
        }

        .passport {
            background-color: #e6e6e6;
            padding: 2em;
            border-radius: 10px;
            margin-bottom: 1em;
            min-height: 400px;
            height: 100%;
            .cs-skin-border{
                //border: 2px solid #666;
            }
            div.cs-skin-border {
                background: transparent;
                color: #696969;
                height: 0;
            }
            .cs-skin-border > span {
                border: none;
                border-bottom: 2px solid #666;
                padding: 0.66em;
            }

            img{
                max-width: 170px;
                display: block;
                margin: 0 auto;
            }

            h2 {
                //color: #fff;
                //text-align: right;
            }
        }

        .ticket {
            background-color: #e6e6e6;
            padding: 2em;
            border-radius: 10px;
            margin-bottom: 1em;
            min-height: 400px;
            height: 100%;

            &__header{
                background-color: #8d008e;
                //padding: 1em;
            }

            img{
                max-width: 100px;
                display: block;
                margin: 0 auto;
            }

            h2 {
                color: #fff;
                //text-align: right;
            }
        }
    }
}
