<!doctype html>
<html class="no-js" lang="" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/set2.css">
    <link rel="stylesheet" href="css/flickity.css">
    <link rel="stylesheet" href="css/dropdown.css">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/mediaQueries.css">

    <script src="js/angular.js"></script>


</head>
<body>

<nav class="navbar navbar-inverse header navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="#register" class="button hidden-lg hidden-md hidden-sm">
                <span>Join Free</span>
            </a>
            <a class="navbar-brand header__logo" href="#top">
                <img class="" src="img/logo.svg">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#register" class="button">
                        <span>Join Free</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="top" class="landing">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 landing__tagline">
                <h1>Start Earning Today</h1>
                <h3>Earn points, perks, and reward flights from everyday purchases.</h3>
                <a href="#register"><button class="button">
                    <span>Join Free</span>
                </button></a>
            </div>

        </div>
        <div class="row">
            <div class="landing__earn col-md-12">
                <h1 class="text-center">Earn Points With Our Partners</h1>
                <h3 class="text-center">Earn even more points with our airline, hotel, shopping, and rental car patterns.</h3>
            </div>
        </div>
    </div>
</div>

<div class="partners container-fluid" >
    <div class="row content">
        <div class="col-md-4">
            <img src="img/points-card.png" class="img-circle content__icons">
            <h2 class="text-center">CARD PARTNERS</h2>
            <p class="text-center">Swipe for the sky</p>
        </div>
        <div class="col-md-4">
            <img src="img/points-everyday.png" class="img-circle content__icons">
            <h2 class="text-center">EVERYDAY REWARDS</h2>
            <p class="text-center">Points take you places</p>
        </div>
        <div class="col-md-4">
            <img src="img/points-fuel.png" class="img-circle content__icons">
            <h2 class="text-center">FUEL REWARDS</h2>
            <p class="text-center">Fill up and fly with BP</p>
        </div>
    </div>
</div>


<div class="benefits container-fluid" >
    <div class="row title" data-stellar-background-ratio="0.7"  >
        <div class="overlay"></div>
        <div class="col-md-6 col-sm-12 col-xs-12  title__heading text-center">
            <h1>Start Enjoying the Benefits</h1>
            <h3>Take your rewards worldwide.</h3>
        </div>
    </div>
    <div class="row content">
        <div class="view">
            <img src="img/benefits-value.png" width="200"/>
            <div class="mask">
                <h2>Title</h2>
                <p>Your Text</p>
                <a href="#" class="info">Read More</a>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-md-4">
            <img src="img/benefits-value.png" class="content__icons">
            <!--<h2 class="text-center">Greater Value</h2>-->
        </div>
        <div class="col-md-4">
            <h1 class="text-center">It pays to be with Velocity</h1>
        </div>
        <div class="col-md-4">
            <img src="img/benefits-choices.png" class="content__icons">
            <!--<h2 class="text-center">Greater Choices</h2>-->
        </div>
    </div>
</div>

<div class="rewards container-fluid">
    <div class="row title">
        <div class="overlay"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 title__heading text-center">
            <h1>Claim Your Rewards</h1>
            <h3>Redeem points for Holidays and Travel</h3>
        </div>
    </div>
    <div class="row content">
        <div class="col-md-4 col-md-offset-4">
            <img src="img/cart.png" class="img-circle content__icons">
            <h2 class="text-center">REWARDS STORE</h2>
        </div>
    </div>
</div>

<div id="register" class="register container-fluid">
    <div class="row title">
        <div class="overlay"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 title__heading">
            <h1 class="text-center">Join Now For Free {{fName}}</h1>
        </div>
    </div>
    <div class="row content ">
        <div data-flickity-options='{ "draggable": true }' class="gallery js-flickity">

            <div class="gallery-cell slide1">
                <div class=" col-md-8 col-md-offset-2">
                    <form class="card">
                        <div class="row card__header">
                            <div class="col-md-3">
                                <img src="img/logo.svg">
                            </div>
                            <div class="col-md-9">
                                <h2>premium</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <select class="cs-select cs-skin-border">
                                    <option value="" disabled selected>Title</option>
                                    <option value="mr">Mr</option>
                                    <option value="mrs">Mrs</option>
                                    <option value="ms">Ms</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <span class="input input--ruri">
                                    <input ng-model="fName" class="input__field input__field--ruri" type="text" id="fname" />
                                    <label class="input__label input__label--ruri" for="fname">
                                        <span class="input__label-content input__label-content--ruri">First Name</span>
                                    </label>
                                 </span>
                            </div>
                            <div class="col-md-5">
                                <span class="input input--ruri">
                                    <input ng-model="lName" class="input__field input__field--ruri" type="text" id="lname" />
                                    <label class="input__label input__label--ruri" for="lname">
                                        <span class="input__label-content input__label-content--ruri">Last Name</span>
                                    </label>
                                 </span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                                <span class="input input--ruri">
                                    <input class="input__field input__field--ruri" type="text" id="promo" />
                                    <label class="input__label input__label--ruri" for="promo">
                                        <span class="input__label-content input__label-content--ruri">Velocity Promo Code</span>
                                    </label>
                                 </span>
                            </div>
                            <div class="col-md-5 ">
                                <span class="input input--ruri">
                                    <input class="input__field input__field--ruri" type="text" id="bp" />
                                    <label class="input__label input__label--ruri" for="bp">
                                        <span class="input__label-content input__label-content--ruri">BP Temp Card Number</span>
                                    </label>
                                 </span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="" disbled class="button registerNav">
                                    <span>Continue</span>
                                </a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>

            <div class="gallery-cell slide2">
                <div class="luggage col-md-8 col-md-offset-2">
                    <div class="triangle"></div>
                    <form class="">
                        <div class="row">

                            <div class="col-md-8">
                                <span class="input input--ruri">
                                    <input ng-model="street" class="input__field input__field--ruri" type="text" id="address" />
                                    <label class="input__label input__label--ruri" for="address">
                                        <span class="input__label-content input__label-content--ruri">Street Address</span>
                                    </label>
                                 </span>
                            </div>
                            <div class="col-md-4">
                                <span class="input input--ruri">
                                    <input ng-model="suburb" class="input__field input__field--ruri" type="text" id="city" />
                                    <label class="input__label input__label--ruri" for="city">
                                        <span class="input__label-content input__label-content--ruri">City/Suburb</span>
                                    </label>
                                 </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span class="input input--ruri">
                                    <input ng-model="post" class="input__field input__field--ruri" type="text" id="post" />
                                    <label class="input__label input__label--ruri" for="post">
                                        <span class="input__label-content input__label-content--ruri">Postcode</span>
                                    </label>
                                 </span>
                            </div>
                            <div class="col-md-4">
                                <span class="input input--ruri">
                                    <input ng-model="state" class="input__field input__field--ruri" type="text" id="state" />
                                    <label class="input__label input__label--ruri" for="state">
                                        <span class="input__label-content input__label-content--ruri">State</span>
                                    </label>
                                 </span>
                            </div>
                            <div class="col-md-4">
                                <span class="input input--ruri">
                                    <input ng-model="country" class="input__field input__field--ruri" type="text" id="country" />
                                    <label class="input__label input__label--ruri" for="country">
                                        <span class="input__label-content input__label-content--ruri">Country</span>
                                    </label>
                                 </span>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <span class="input input--ruri">
                                    <input ng-model="email" class="input__field input__field--ruri" type="text" id="email" />
                                    <label class="input__label input__label--ruri" for="email">
                                        <span class="input__label-content input__label-content--ruri">Email</span>
                                    </label>
                                 </span>
                            </div>
                            <div class="col-md-4">
                                <span class="input input--ruri">
                                    <input ng-model="phone" class="input__field input__field--ruri" type="text" id="phone" />
                                    <label class="input__label input__label--ruri" for="phone">
                                        <span class="input__label-content input__label-content--ruri">Phone</span>
                                    </label>
                                 </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="" class="button registerNav">
                                <span>Continue</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="gallery-cell slide3">
                <div class=" col-md-8 col-md-offset-2">
                    <form class="passport">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <h2 class="text-center">PASSPORT</h2>
                                </div>

                                <img src="img/user.png">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="text-center">Date of Birth</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="input input--ruri">
                                            <input class="input__field input__field--ruri" ng-model="day" type="text" id="bday" />
                                            <label class="input__label input__label--ruri" for="bday">
                                                <span class="input__label-content input__label-content--ruri">Day</span>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="input input--ruri">
                                            <input class="input__field input__field--ruri" ng-model="month" type="text" id="bmonth" />
                                            <label class="input__label input__label--ruri" for="bmonth">
                                                <span class="input__label-content input__label-content--ruri">Month</span>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="input input--ruri">
                                            <input class="input__field input__field--ruri" ng-model="year" type="text" id="byear" />
                                            <label class="input__label input__label--ruri" for="byear">
                                                <span class="input__label-content input__label-content--ruri">Year</span>
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <span class="input input--ruri">
                                    <input class="input__field input__field--ruri" type="text" id="pass" />
                                    <label class="input__label input__label--ruri" for="pass">
                                        <span class="input__label-content input__label-content--ruri">Password</span>
                                    </label>
                                </span>
                                <span class="input input--ruri">
                                    <input class="input__field input__field--ruri" type="text" id="passC" />
                                    <label class="input__label input__label--ruri" for="passC">
                                        <span class="input__label-content input__label-content--ruri">Confirm Password</span>
                                    </label>
                                </span>
                                <span class="input input--ruri">
                                    <input class="input__field input__field--ruri" type="text" id="secQ" />
                                    <label class="input__label input__label--ruri" for="secQ">
                                        <span class="input__label-content input__label-content--ruri">Security Question</span>
                                    </label>
                                </span>
                                <span class="input input--ruri">
                                    <input class="input__field input__field--ruri" type="text" id="secA" />
                                    <label class="input__label input__label--ruri" for="secA">
                                        <span class="input__label-content input__label-content--ruri">Security Answer</span>
                                    </label>
                                </span>
                            </div>
                            <div class="col-md-12">
                                <a href="" class="button registerNav">
                                    <span>Continue</span>
                                </a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="gallery-cell slide4">
                <div class=" col-md-8 col-md-offset-2">
                    <form class="ticket">
                        <div class="row ticket__header">
                            <div class="col-md-3">
                                <img src="img/logo.svg">
                            </div>
                            <div class="col-md-9">
                                <h2>DESTINATION: PARADISE</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="input input--ruri">
                                <input class="input__field input__field--ruri" value="{{fName + ' ' + lName}}" type="text" id="cName" />
                                <label class="input__label input__label--ruri" for="cName">
                                    <span class="input__label-content input__label-content--ruri">Name</span>
                                </label>
                            </span>
                            <span class="input input--ruri">
                                <input class="input__field input__field--ruri" value="{{street + ' ' + suburb + ' ' + state + ' ' + post }}" type="text" id="cAdd" />
                                <label class="input__label input__label--ruri" for="cAdd">
                                    <span class="input__label-content input__label-content--ruri">Address</span>
                                </label>
                            </span>

                        </div>
                        <div class="col-md-6">
                            <span class="input input--ruri">
                                <input class="input__field input__field--ruri" value="{{email}}" type="text" id="cEmail" />
                                <label class="input__label input__label--ruri" for="cEmail">
                                    <span class="input__label-content input__label-content--ruri">Email</span>
                                </label>
                            </span>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                    <span class="input input--ruri">
                                        <input class="input__field input__field--ruri" value="{{phone}}" type="text" id="cPhone" />
                                        <label class="input__label input__label--ruri" for="cPhone">
                                            <span class="input__label-content input__label-content--ruri">Phone</span>
                                        </label>
                                    </span>
                                    </div>
                                    <div class="col-md-4">
                                    <span class="input input--ruri">
                                        <input class="input__field input__field--ruri" value="{{day + '/' + month + '/' + year}}" type="text" id="cBirth" />
                                        <label class="input__label input__label--ruri" for="cBirth">
                                            <span class="input__label-content input__label-content--ruri">Birthday</span>
                                        </label>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="" class="button registerNav">
                                <span>Continue</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flickity.pkgd.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/selectFx.js"></script>
<!--<script src="js/parallax.min.js"></script>-->
<!--<script src="js/jquery.stellar.js"></script>-->

<script src="js/main.js"></script>

</body>
</html>
